<p id="notice"><%= notice %></p>

<h1>Usernames</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Likes count</th>
      <th>Reposts count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usernames.each do |username| %>
      <tr>
        <td><%= username.body %></td>
        <td><%= username.likes_count %></td>
        <td><%= username.reposts_count %></td>
        <td><%= link_to 'Show', username %></td>
        <td><%= link_to 'Edit', edit_username_path(username) %></td>
        <td><%= link_to 'Destroy', username, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Username', new_username_path %>
